.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-self: center;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__form > h1 {
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.login__form > input {
    min-width: 250px;
    padding: 20px 0px;
    padding-left: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 20px;
}

.submit__btn {
    padding: 17px 30px;
    margin-top: 10px;
    background: black;
    color: blanchedalmond;

}

